<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- load properties: sport.properties -->
   	 <context:property-placeholder location="classpath:sport.properties"/>

    <!-- Define your beans here -->
    <bean id="myLoggerConfig" class="com.luv2code.springdemo.MyLoggerConfig" init-method="initLogger">
    	<property name="rootLoggerLevel" value="FINE" />
    	<property name="printedLoggerLevel" value="FINE"/>
    </bean>
    
    <!--  Define Dependency -->
    <bean id="myFortuneService" 
    	class="com.luv2code.springdemo.HappyfortuneService">
    </bean>
    
    <!--  Define Dependency - own -->
    <bean id="myRandomFortuneService" 
    	class="com.luv2code.springdemo.RandomFortuneService">
    </bean>
    
    
    <bean id="myCoach" 
    	class="com.luv2code.springdemo.TrackCoach">
    	<constructor-arg ref="myFortuneService"/>
    </bean>
    
    <bean id="myCricketCoach" 
    	class="com.luv2code.springdemo.CricketCoach">
    	<!-- Set up setter injection -->
    	<property name="fortuneService" ref="myRandomFortuneService"></property>
    	<!-- Injection literal values -->
    	<!-- 
	    	<property name="email" value="thebestcoach@lov2code.com"></property>
	    	<property name="team" value="The cricketend"></property>
    	 -->
			
    	<property name="email" value="${cricket.email}"></property>
    	<property name="team" value="${cricket.team}"></property>
		
    </bean>
</beans>





